<div id="<%= dom_id med %>">
  <p>
    <strong>First name:</strong>
    <%= med.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= med.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= med.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= med.email %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= med.DOB %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= med.Adress %>
  </p>

</div>
