<div id="<%= dom_id client %>">
  <p>
    <strong>Id:</strong>
    <%= client.id %>
  </p>

  <p>
    <strong>Client first name:</strong>
    <%= client.Client_first_Name %>
  </p>

  <p>
    <strong>Client second name:</strong>
    <%= client.Client_second_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= client.Gender %>
  </p>

  <p>
    <strong>Date of registration:</strong>
    <%= client.Date_of_Registration %>
  </p>

  <p>
    <strong>Appointment status:</strong>
    <%= client.Appointment_status %>
  </p>

  <p>
    <strong>View details:</strong>
    <%= client.view_Details %>
  </p>

</div>
