<div id="<%= dom_id recipent %>">
  <p>
    <strong>Name:</strong>
    <%= recipent.Name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= recipent.Age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= recipent.Gender %>
  </p>

  <p>
    <strong>Date of registration:</strong>
    <%= recipent.Date_Of_registration %>
  </p>

  <p>
    <strong>Appointment status:</strong>
    <%= recipent.Appointment_Status %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= recipent.Details %>
  </p>

</div>
